.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin:50px 200px;
}
.nav-title
{
    font-weight:800;
    font-size: 45px;;
}

/* Shared items */
.secondary-bg
{
    background-color:#FFF8F3;
}
.section-title
{
    font-weight: bold;
    font-size: 35px;
    color: #181818;
}
.text-primary
{
    color:#FD6E0A;
}
/* nav items */
nav ul{
    display:flex;
    align-items: center;
}
nav ul li{
    list-style: none;
    margin-right:51px;
}
nav li a
{
    text-decoration: none;
        font-size:20px;
}
.list-content
{
    color:#474747;

}
.btn-primary
{
    background-color:#FD6E0A;
    font-weight:bold;
    font-size: 20px;
    color:white;
    border-radius:5px;
    border:none;
    padding:18px 35px;
}
.header
{
    background-image: url("portfolio-resources/images/developer.png"),url("portfolio-resources/images/header_bg.png");
    background-repeat: no-repeat;
    background-position:top left,bottom right;
   
}
.banner{
    display:flex;
    justify-content: space-between;
    margin:0px 35px 0px 230px;
}
.banner-content
{
    max-width: 585px;
}
.banner-greetings
{
    font-size: 45px;
    font-weight: 600px;
}
.banner-title
{
    font-size: 85px;
    font-weight:bold;

}
.banner-description
{
    font-size: 18px;
}
.banner-profile
{
    width:580px;
}
/* Secrtion item */
main{
    width:1140px;
    margin:0px auto;
}
.about
{
    border-radius: 10px;
    padding:130px 150px;
    text-align: center;
    margin-top:130px;
   
}
.banner-description
{
    font-size: 18px;
    font-weight: #757575;
}
.about-items
{
    display: flex;
    justify-content: space-around;
}
.item-description
{
    font: 20px;
    font-weight: bold;
}
