.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin:50px 200px;
}
.nav-title
{
    font-weight:800;
    font-size: 45px;;
}
.text-primary
{
    color:#FD6E0A;
}
nav ul{
    display:flex;
    align-items: center;
}
nav ul li{
    list-style: none;
    margin-right:51px;
}
nav li a
{
    text-decoration: none;
        font-size:20px;
}
.list-content
{
    color:#474747;

}
.btn-primary
{
    background-color:#FD6E0A;
    font-weight:bold;
    font-size: 20px;
    color:white;
    border-radius:5px;
    border:none;
    padding:18px 35px;
}
.header
{
    background-image: url("logo.JPG"),url("second\ logo.JPG");
    background-repeat: no-repeat;
    background-position:top left,bottom right;
    background-size:450px 250px;
}
.banner{
    display:flex;
    justify-content: space-between;
    margin:0px 35px 0px 230px;
}
.banner-content
{
    max-width: 585px;
}
.banner-greetings
{
    font-size: 45px;
    font-weight: 600px;
}
.banner-title
{
    font-size: 85px;
    font-weight:bold;

}
.banner-description
{
    font-size: 18px;
}
.banner-profile
{
    width:580px;
}