.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin:50px 200px;
}
.nav-title
{
    font-weight:800;
    font-size: 45px;;
}

/* Shared items */
.secondary-bg
{
    background-color:#FFF8F3;
}
.section-title
{
    font-weight: bold;
    font-size: 35px;
    color: #181818;
}
.text-primary
{
    color:#FD6E0A;
}
.text-center
{
    text-align: center;
}
/* nav items */
nav ul{
    display:flex;
    align-items: center;
}
nav ul li{
    list-style: none;
    margin-right:51px;
}
nav li a
{
    text-decoration: none;
        font-size:20px;
}
.list-content
{
    color:#474747;

}
.btn-primary
{
    background-color:#FD6E0A;
    font-weight:bold;
    font-size: 20px;
    color:white;
    border-radius:5px;
    border:none;
    padding:18px 35px;
}
.header
{
    background-image: url("portfolio-resources/images/developer.png"),url("portfolio-resources/images/header_bg.png");
    background-repeat: no-repeat;
    background-position:top left,bottom right;
   
}
.banner{
    display:flex;
    justify-content: space-between;
    margin:0px 35px 0px 230px;
}
.banner-content
{
    max-width: 585px;
}
.banner-greetings
{
    font-size: 45px;
    font-weight: 600px;
}
.banner-title
{
    font-size: 85px;
    font-weight:bold;

}
.banner-description
{
    font-size: 18px;
}
.banner-profile
{
    width:580px;
}
/* Secrtion item */
main{
    width:1140px;
    margin:0px auto;
}
main section{
    margin-top:130px;
    margin-bottom: 130px;

}
.about
{
    border-radius: 10px;
    padding:130px 150px;
    text-align: center;
    
   
}
.banner-description
{
    font-size: 18px;
    font-weight: #757575;
}
.about-items
{
    display: flex;
    justify-content: space-around;
}
.item-description
{
    font: 20px;
    font-weight: bold;
    
}

/* Skills items */
.skill-container
{
    margin-top:50px;
    display: flex;
    gap:24px;
}
.skill
{
    padding:30px;
    box-shadow: 0px 6px 50px rgba(0,0,0,0.6);
    border-radius: 5px;
}
.skill-description
{
    text-align: none;
}

/* column */
.resume{
    text-align: center;
}
.resume-container
{
        display:flex;
        gap:24px;
}
.resume-column-title
{
    font-size: 30px;
    font-weight: bold;
    
}
.experience-title
{
    font-weight: bold;
    font-size: 25px;;
}
.experience-sub-title
{
    font-size: 20px;
    font-weight:60px;
    color:#757575;
   
}
.experience-description
{
    color: #757575;
    
}
.experience{
    text-align: center;

}
.resume hr{
    margin:30px;

}
.resume-cv
{
    margin-top:25px;
    font-size: 50px;;
}

/* Footer  */
footer{
    padding:130px 230px;
    display:flex;
    gap:100px;
    border-radius: 27px;
}
.footer-column
{
    width:50%;
}
footer input[type="text"],footer input[type="email"],footer textarea{
    height:64px;
    border-radius: 5px;
    background-color: white;
    padding:10px 20px;
    width:100%;
    margin-bottom:20px;
    border:none;

}